#title{
    font-size:100px;
    width:60%;
    font-family:neue-haas-grotesk-display, sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:90%;
}

a{
    text-decoration:none;
}

#sub{
    font-size:0.4em;
    width:50%;
    line-height: 100%;
}