body{
  background-color:#E9E9E9;
  line-height: 50%;
  text-align:center;
  padding:0px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  color: #0076FF;
}

h1{
  font-size:5vh;
  text-align:left;
  line-height:normal;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight:600;
  position: relative;
  top:-15px;
  padding-left:10px;
  color: #0076FF;
}

h2{
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight:600;
  font-size:2.5vh;
}

img{
  width:35vw;
}

p{
  text-align:center;
}

#caption{
  /* width:35vw; */
  /* margin:auto; */
  line-height:120%;
}

table, td {
  border:none;
  line-height:150%;
  text-align:left;
}

table{
  width:98%;
  margin-left:20px;
  padding-left:5px;
  margin-top:20px;
  font-size:1.8vh;
}

td{
  padding-right:50px;
}

.wrapper {
  display:flex;
  flex-wrap: nowrap;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  padding-left:10px;
}


.card, .card01{
  flex:0 0 auto;
  border-radius:25px;
  /* box-shadow:0 3px 10px rgb(0 0 0/0.2); */
  border: 1px solid #118EFF;
}

.card01{
  background:none;
  width:600px;
  height:80vh;
  margin-right:25px;
  position:relative;
}

img{
  width:95%;
  margin-top:20px;
}

#direction{
  margin-top:20px;
}

.date{
  position:absolute;
  top:30px;
  left:30px;
  /* top:-115px; */
}


button{
  border-radius:20px;
  border-color: #0076FF;
  color:  #0076FF;
}

#content{
  text-align:left;
  position:relative;
  padding-right:20px;
}

.post{
  position: absolute;
  top:30px;
  justify-content:left;
  margin-left:-100px;
  padding-right:20px;
}

p{
  text-align:left;
  padding-right:20px;
  font-size:1.6vh;
  top:0px;
  position:relative;
}

h3{
  position:absolute;
  text-align:right;
  line-height:120%;
  font-weight:lighter;
  top:0px;
  right:10px;
}

.name{
  position:relative;
  display:flex;
}
